<table id="table_A">
    <caption><strong>Выбранная система</strong></caption>
    <tbody>
        <tr>
            <td>k</td>
            <td>{{str_functions.0}}</td>
        </tr>
        <tr>
            <td>p</td>
            <td>{{str_functions.1}}</td>
        </tr>
        <tr>
            <td>q</td>
            <td>{{str_functions.2}}</td>
        </tr>
        <tr>
            <td>f</td>
            <td>{{str_functions.3}}</td>
        </tr>
    </tbody>
</table>
<table id="table_b">
    <caption><strong>Граничные условия</strong></caption>
    <tbody>
        <tr>
            <td>[a,b]</td>
            <td>{{interval}}</td>
        </tr>
    </tbody>
</table>
