<html>

<head>
    <title>Calculator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}">
</head>

<body>
    <div>
        <h1>Задача {{problem}}</h1>

        <h2>Условие</h2>
        {% for line in situation %}
        <p>{{line}}</p>
        {% endfor %}

        <h2>Решение</h2>

        <form action="." method="get">
            <p>
                <label for="matrix">Выберите матрицу для исследования:</label>
                <select name="matrix" size="1">
                    <option value="placeholder" selected="selected" disabled hidden>выбрать</option>
                    {% for key, value in matrices_available %}
                    <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="epsilon">Введите &epsilon;:</label>
                <input name="epsilon" type="text" value="0.001" />
            </p>
            <input type="submit" value="Решить!" />
        </form>

        {% if matrix is not None %}
        <table>
            <caption><strong>Выбранная матрица</strong></caption>
            <tbody>
                {% for row in matrix %}
                <tr>
                    {% for col in row %}
                    <td>{{col}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Матрица не найдена.</p>
        {% endif %}

        <h2>Ответ</h2>

        {% if answer is not None %}
        <table>
            <tbody>
                {% for key, value in answer %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Не удалось получить ответ.</p>
        {% endif %}

    </div>

</body>

</html>
