<!DOCTYPE html>

<head>
    <title>Calculator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}">
    <link href="{% static 'calculator/googleapis/ibmplexsans/IBMPlexSans300.css' %}" rel="stylesheet">
</head>

<body>
    <div>
        <h1>Вычислительный практикум</h1>

        <h2>Решённые задачи</h2>

        {% if solved_tasks is not None %}
        <ul>
            {% for key, value in solved_tasks %}
            <li><a href="./task/{{key}}"> {{key}}. {{value}} </a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Не удалось получить список задач.</p>
        {% endif %}

        <h2>Пока не решённые задачи</h2>

        {% if unsolved_tasks is not None %}
        <ul>
            {% for key, value in unsolved_tasks %}
            <li> {{key}}. {{value}} </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Не удалось получить список задач.</p>
        {% endif %}

        <h2>Исходный код</h2>
        <p>Доступен на <a href="https://github.com/studokim/CalculationMethods">GitHub</a>.</p>
    </div>

</body>

</html>
