<html>

<head>
    <title>Calculator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}">
</head>

<body>
    <div>
        <h1>Задача {{problem}}</h1>

        <h2>Условие</h2>
        {% for line in situation %}
        <p>{{line}}</p>
        {% endfor %}

        <h2>Решение</h2>

        <p>Выберите матрицу для исследования:</p>
        <form action="." method="get">
            <select name="matrices" size="1">
                <option value="placeholder" selected="selected" disabled hidden>выбрать</option>
                {% for key, value in matrices_available %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Готово!">
        </form>

        {% if matrix is not None %}
        <table>
            <caption><strong>Выбранная матрица</strong></caption>
            <tbody>
                {% for row in matrix %}
                <tr>
                    {% for col in row %}
                    <td>{{col}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Матрица не найдена.</p>
        {% endif %}

        <form action="." method="get">
            <label for="epsilon">Введите &epsilon;:</label>
            <input name="epsilon" type="text" value="0.001" />
            <input type="submit" value="Решить!" />
        </form>

        <h2>Ответ</h2>

    </div>

</body>

</html>
